{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}Find Seoul Street Trash cans Location Service{% endblock %}</title>
    <link rel = "stylesheet" href = "{% static 'board/bootstrap/bootstrap.min.css' %}" media = "screen">
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="/static/board/css/style1.css" rel="stylesheet" />    
    
</head>
<body>
    {% include 'board/navbar_eng.html' %}

<div id="map" style="width:100%;height:70%; border:1px solid black;"></div><br>
<div style="text-align: center;">
    <img src="/static/image/person2.png" width="50" height="50" align="middle">You
    <img src="/static/image/그림1.png" width="50" height="50" align="middle">Trash Can
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=251b8f774a903203113d7451b7f27d68"></script>

{{ result | json_script:'jsonData'}}
<script>
var a = this.document.getElementById("sample_form");

var placeData = JSON.parse(document.getElementById('jsonData').textContent);

var positions = [];

for( var key1 in placeData){
    var jsonData = JSON.parse(placeData[key1])

    var content = {
        title: jsonData['location'],
        latlng: new kakao.maps.LatLng(jsonData['latitude'], jsonData['longitude']),
        // addr1: person[i].addr1,
        // detail: "디테일입니다 추후 추가예정",
        // tel: person[i].tel,
    }
    positions.push(content);
}
var jsonData2 = JSON.parse(placeData['item0'])

var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(jsonData2['latitude'], jsonData2['longitude']), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커 이미지의 이미지 주소입니다
var imageSrc3 = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
var imageSrc = "/static/image/그림1.png" 
var imageSrc2 = "/static/image/person2.png" 

for (var i = 1; i < positions.length; i ++) {
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(50, 50); 
    // 마커 이미지를 생성합니다   
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}
// 내 위치 마커 이미지의 이미지 크기 입니다
var imageSize2 = new kakao.maps.Size(65, 65);
// 내 위치 마커 이미지를 생성합니다   
var markerImage = new kakao.maps.MarkerImage(imageSrc2, imageSize2); 
// 마커를 생성합니다
var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[0].latlng, // 마커를 표시할 위치
        title : positions[0].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>


</body>
</html>
