<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block head_title %}Seoul Street Trash cans Location Service{% endblock %}</title>
        <link rel = "stylesheet" href = "{% static 'board/bootstrap/bootstrap.min.css' %}" media = "screen">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/board/css/style1.css" rel="stylesheet" />


        <!-- 수정 필요해요 -->
        <a href="/">한국어</a>

    </head>
    <body>
      {% include 'board/navbar.html' %}



<!-- 수정 완료했습니다. 2021.11.24 -->

                {% block main_area %}
                {% endblock %}




                  <!-- Masthead-->
        <header class="masthead" style = "background-image : url('/static/image/Main_img.jpg')">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Seoul trash can search service.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <button type="button" class="btm_image" id="btn_image" style="margin: auto; padding: 0; border: none; background: none;" onClick="location.href='/english_map'">
                                    <img src="/static/image/쓰레기통.png" width="100" height="100">
                                </button>
                            </div>
                            <h3>Find the trash can</h3>
                            <p class="lead mb-0">Finds trash cans near the selected location!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <button type="button" class="btm_image" id="btn_image" style="margin: auto; padding: 0; border: none; background: none;" onClick="location.href='/board/'">
                                    <img src="/static/image/소통.png" width="100" height="100">
                                </button>
                            </div>
                            <h3>Community</h3>
                            <p class="lead mb-0">This is a bulletin board where you can present issues and opinions related to trash cans!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <button type="button" class="btm_image" id="btn_image" style="margin: auto; padding: 0; border: none; background: none;" onclick="window.open('https://equinox-emmental-2a8.notion.site/b1157a697bda4551a8cc7bb8aacc1058')">
                                    <img src="/static/image/데이터 분석.png" width="100" height="100">  
                                </button>
                            </div>
                            <h3>Data analysis results</h3>
                            <p class="lead mb-0">This is the result of data analysis of waste bin location selection using Seoul public data!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/image/Trash_img1.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Easy and simple to find trash cans</h2>
                        <p class="lead mb-0">You can select any location you want and it will show you the location of the trash can in a radius of 500m from the selected location.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/image/Trash_img2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Solving problems related to trash cans.</h2>
                        <p class="lead mb-0">You can notify the manager of a broken or full trash can through the community feature. It is also possible to request the installation of an additional trash can.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/image/Trash_img3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Finding out where the trash can is needed.</h2>
                        <p class="lead mb-0">Through analysis using seoul public data, we identify locations where trash cans are insufficient and promote new installations and relocations.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="/static/image/짱이오_오동혁.png" alt="..." />
                            <h5>오동혁</h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="/static/image/짱이오_이인희.png" alt="..." />
                            <h5>이인희</h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="/static/image/짱이오_장성훈.png" alt="..." />
                            <h5>장성훈</h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="/static/image/짱이오_장주연.png" alt="..." />
                            <h5>장주연</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>








          </div>
      </div>

      {% include 'board/footer.html' %}
      
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
      <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


    </body>
</html>


