<html>
<head>
    <meta charset="utf-8">
    <title>서울시 가로 쓰레기통 프로젝트</title>
    
</head>
<body>

<div id="map" style="width:100%;height:100%;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=251b8f774a903203113d7451b7f27d68"></script>

{{ result | json_script:'jsonData'}}
<script>
var a = this.document.getElementById("sample_form");

var placeData = JSON.parse(document.getElementById('jsonData').textContent);

var positions = [];

for( var key1 in placeData){
    var jsonData = JSON.parse(placeData[key1])

    var content = {
        title: jsonData['location'],
        latlng: new kakao.maps.LatLng(jsonData['latitude'], jsonData['longitude']),
        // addr1: person[i].addr1,
        // detail: "디테일입니다 추후 추가예정",
        // tel: person[i].tel,
    }
    positions.push(content);
}
var jsonData2 = JSON.parse(placeData['item0'])

var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(jsonData2['latitude'], jsonData2['longitude']), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커 이미지의 이미지 주소입니다
var imageSrc3 = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
var imageSrc = "/static/image/그림1.png" 
// console.log(imageSrc)
// console.log(imageSrc3)
// var imageSrc2 = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png';
var imageSrc2 = "/static/image/person2.png" 

for (var i = 0; i < positions.length; i ++) {
    
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(30, 30); 
    var imageSize2 = new kakao.maps.Size(40, 40); 
    // 마커 이미지를 생성합니다   
    if (i == 0) {
        var markerImage = new kakao.maps.MarkerImage(imageSrc2, imageSize2); 
    }
    else {
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
    }
    
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng, // 마커를 표시할 위치
        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        image : markerImage // 마커 이미지 
    });
}
</script>
</body>
</html>
