{% load socialaccount %}
<!-- 수정 완료 2021.11.25 -->
<!-- 네비 바 영문 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class = "container">
        <a class="navbar-brand" href="/english/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 네비 바 목록 수정 at 21.11.25 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class = "nav-item">
              <a class = "nav-link" href = "/english_map/">Find Trash Can</a>
            </li>

            <li class = "nav-item">
              <a class = "nav-link" href = "/board/">Community</a>
            </li>

            <li class = "nav-item">
              <a class = "nav-link" href = "https://www.notion.so/b1157a697bda4551a8cc7bb8aacc1058">Data Analysis Result</a>
            </li>

            <li class = "nav-item">
              <a class = "nav-link" href = "/">한국어로 보기</a>
            </li>


          </ul>

          <ul class = "navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class = "nav-item dropdown">
                  <a class = "nav-link dropdown-toggle" href = "#" id = "navbarDropdownMenuLink" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                  </a>
                  <div class = "dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class = "dropdown-item" href = "/accounts/logout/">Log Out</a>
                  </div>
              </li>
              {% else %}
            <li class = "nav-item">
              <a class = "btn btn-primary" href = "#" data-toggle="modal" data-target = "#loginModal">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
        </div>
      </nav>
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
        <div class="modal-dialog" role ="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class = "row my-3">
                        <div class = "col-md-10">
                            <a role = "button" class = "btn btn-outline-dark btn-block btn-sm" href = "{% provider_login_url 'google' %}">Log In With Google</a>
                            <a role = "button" class = "btn btn-outline-dark btn-block btn-sm" href = "{% provider_login_url 'naver' %}">Log In With In Naver</a>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
      </div>
